@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

  .animated-box:hover {
    background: #fff;
    background: linear-gradient(110deg, #fff 8%, #f3f4f6 18%, #fff 33%);
    background-size: 200% 100%;
    animation: 3.5s shine linear infinite;
  }
